body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.portfolio-container {
    background: url('./assets/images/samrat.png') no-repeat center center fixed;
    background-size: cover;
    background-position: top;  /* Adjust the background position */
    color: white;
    text-align: center;
    padding: 50px;
    height: 95vh;
}


header {
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    margin: 10px 0;
}

p {
    font-size: 1.5em;
    margin: 0;
}

.social-links a {
    display: inline-block;

    margin: 250px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.linkedin {
    background-color: #0077b5;
}

.instagram {
    background-color: #e4405f;
}

.social-links a:hover {
    background-color: white;
    color: black;
}
